<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mastercard.labs.sng.qrscantester">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="za.co.iteampay.pay.qr.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mastercard.mpqr.pushpayment.scan.activity.PPCaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomizeScanTheme"
            tools:replace="screenOrientation, theme" />
        <activity
            android:name="za.co.iteampay.pay.qr.CustomizedCaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ppscan_CaptureTheme" />
        <activity
            android:name="za.co.iteampay.pay.qr.results.ScanActivity"
            android:label="Scan"
            android:parentActivityName="za.co.iteampay.pay.qr.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="za.co.iteampay.pay.qr.results.ScanActivity"/>
        </activity>
        
        <activity
            android:name="za.co.iteampay.pay.qr.results.GenerateActivity"
            android:label="Generate"
            android:parentActivityName="za.co.iteampay.pay.qr.results.ScanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="za.co.iteampay.pay.qr.results.GenerateActivity"/>
        </activity>
        <activity
            android:name="za.co.iteampay.pay.qr.DetailResultActivity"
            android:label="Details"
            android:parentActivityName="za.co.iteampay.pay.qr.MainActivity">

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.mastercard.labs.sng.qrscantester.za.co.iteampay.pay.qr.MainActivity" />
        </activity>
    </application>

</manifest>